.Topics, .Project{
    border: 2px solid black;
}

img {
    width: 100%;
    /* height: 100%; */
}

img:focus-visible{
    border: 5px solid yellow;
}

.Topics {
    display: none;
}

/* .Project{
    border: 2px solid black;
} */

